/* Timer Sections Style */

.timer-wrapper {
  margin: 100px auto;
  width: 346px;
}

.controls {
  display: flex;
  gap: 8px;
}

input,
button {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.64px;
}

input {
  width: 272px;
  padding: 8px 16px;
  color: var(--dark);
  border-radius: 4px;
  border: 1px solid var(--gray);
}

button {
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 500;
  color: var(--white);
  background: var(--accent);
  border: 1px solid var(--accent);
}

button:hover {
  background: var(--accent-hover);
  border: 1px solid var(--accent-hover);
}

button:disabled {
  background: var(--light);
  border: 1px solid var(--light);
  color: var(--dark-light);
}

.timer {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.field {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.field span:first-child {
  color: var(--dark);
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 1.6px;
}

.field span:last-child {
  color: var(--dark);
  text-transform: uppercase;
}